<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a routerLink="" id="btnAccueil"><i class="fa fa-home"></i>&nbsp; Accueil</a>
    
<div class="container">

<div class="col-md-4 col-md-offset-4">
    <div class="panel-body">
<div class="text-center">
<h3><i class="fa fa-lock fa-4x"></i></h3>
<h2 class="text-center">Mot de passe oublié ?</h2>
    <br>
<div class="panel-body">
<form class="form"(ngSubmit)="sendEmail(f)" #f=ngForm >      
    <label for=""><a type="button" routerLink="/Registre" id="signup"> Créer un nouveau compte ?  </a></label>
    <label for=""><a type="button" routerLink="/Login" id="signin"> Connexion </a></label>                   
        <div class="input-field">
<input type="email"   placeholder="adresse email " 
ngModel name="email"  required #email="ngModel" width="100px" id="iddd">
<i class="fa fa-envelope" style="margin-top: -25px;margin-left: -41px;" ></i><br>
<span style="color: red;position: absolute;left: -34px;width: 340px;" 
*ngIf="!nom.valid && nom.touched" >Entrer  un email  valide </span>
</div>
<div class="form-group" ><br><br><br>
<button type="submit" class="btn btn-primary float-right" style="margin-left: 20px;margin-top: -78px;font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;"> Envoyer</button>

</div>
<div>  
</div>
    
</form>
<a type="button" class="btn btn-danger btn-rounded" (click)="vers()" 
style="margin-left: 5px;;margin-top: -78px;text-decoration: none; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">Annuler</a>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
