<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
<div id="alignement">
<div class="dark-edition">

<div class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-8">
<div class="card">

<div class="card-body">

<form (ngSubmit)="registre(fl)" #fl=ngForm>

<div class="container">

<div class="avatar-upload">
<div class="avatar-edit" *ngIf="testImage === null ; else close">
<input type='file' id="imageUpload" (change)="onSelectFile($event)" class="select-profile-picture"  accept=".png, .jpg, .jpeg" />

      <label for="imageUpload"></label>
  

</div>
<ng-template #close>
  <div class="avatar-close" >
    <div class="css">
   <label (click)="changeImage()" class="csslabel">
   <i class="fa fa-times"  style="position: absolute; top: 9px;left: 9px;color: #000000b5;"></i></label>
      <label for="imageUpload"></label></div>
    </div>
  </ng-template>
<div class="avatar-preview">
  <img id="imagePreview" src={{imagePath1}}>
</div>
</div>
</div>
          <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="bmd-label-floating">Nom et Prénom </label>
        <input type="text" class="form-control" ngModel name="nom"  required #nom="ngModel" style="color :#fff"> 
        <span style="color:#e54f4f ;position: absolute;margin-left: 2px;width: 340px;top:62px;"
        *ngIf="!nom.valid && nom.touched">Entrer  nom et prénom    valide </span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="bmd-label-floating"> Adresse Email </label>
        <input type="text" class="form-control"   ngModel name="email"  required #email="ngModel" 
        style="color :#fff"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$">
        <span style="color:#e54f4f  ;position: absolute;margin-left: 2px;width: 340px;top: 62px;"
        *ngIf="!email.valid && email.touched">Entrer  email  valide </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="bmd-label-floating">Nom de l'utilisateur </label>
        <input type="texr" class="form-control"  ngModel name="username"  required #username="ngModel" style="color :#fff">
     
        <span style="color:#e54f4f ;position: absolute;margin-left: 2px;width: 340px;top: 62px;"
        *ngIf="!username.valid && username.touched">Entrer  un identifiant valide </span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div id="label1">
            <br>
        <label class="bmd-label-floating" style="margin-left: 0px;margin-top: 15px;">Gendre</label></div>
        <input type="radio" [(ngModel)]="gender" value="homme" name="gender" id="homme1"> 
        <label id="label-Homme" >Homme</label> 
        <input type="radio" [(ngModel)]="gender" value="femme" name="gender" id="femme1">
         <label id="label-Femme">Femme</label>

      
      </div>
    </div>
  
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="bmd-label-floating">Numéro de télephone</label>
        <input  type="number" pattern="^((\\+91-?)|0)?[0-9]{8}$" ngModel name="telephone"
         required #telephone="ngModel" class="form-control">
        <span style="position:absolute;margin-top: -27px;margin-left: 250px;" ></span>  
        <span style="color: #e54f4f; position: absolute;left: 1px;top: 63px;font-size: 14px; width: 340px;" 
        *ngIf="!telephone.valid && telephone.touched" >Entrer  un numéro de télephone  valide </span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="bmd-label-floating"> Mot de passe</label>
        <input  id="password-field" type="password"  ngModel name="pwd"
         required #pwd="ngModel"  class="form-control"pattern="^((\\+91-?)|0)?[a-zA-Z0-8]{8}$">
      </div>
      <span toggle="#password-field" class="fa fa-fw fa-eye-slash  toggle-password2"
      style="position: absolute;margin-top: -36px;margin-left: 251px;" ></span>
      <span style="color:#e54f4f ;position: absolute;left: 18px;top:72px ;font-size: 14px; width: 340px;" 
      *ngIf="!pwd.valid && pwd.touched" >Entrer un mot de passe composé de 8 caractères </span>
      </div>
     
    
  </div>
  <br><br><br>
  <div align="center" id="btnSave"> 
  <button class="btn btn-success" [disabled]=" !fl.valid" >Valider</button>&nbsp;&nbsp;&nbsp;
 </div>
  <div class="clearfix"></div>
</form>
<div id="bouttonAnnuler">
<button class="btn btn-danger" (click)="onClose11()" >Annuler</button>
</div>
</div>  
</div>
</div>

</div>
</div>
</div>
</div>
</div>  
</body>
</html>