<!DOCTYPE html>
<html lang="en">
    <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

 <title>Welcome</title>
</head>
<body>
 
    <div class="wrapper1">
    <div class="form-inner">
      <div class="form-container">
         
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" headerPosition="above" [selectedIndex]="3">
            <mat-tab *ngIf="demandeG !==0 && (existenceAvisExpertGauche === 0 || existenceAvisExpertGauche === 2) " >
     
        <ng-template mat-tab-label>
            <mat-icon>
                <img src ="./assets/images/eyeA.gif"  width="35px" height="35px" id="icone1" />
            </mat-icon>
            <a routerLink="/avis_gauche/{{idConsultation}}" style="text-decoration: none;color: black;">
                <i class="fa fa-angle-double-left fa-1x" aria-hidden="true"></i>
                    &nbsp; {{ 'Oeil Gauche' | translate }}
            </a> 
         
        </ng-template>
         
    </mat-tab>
    <mat-tab [disabled]='true'></mat-tab>
    <mat-tab  [disabled]='true' ></mat-tab>  
  
 <mat-tab  > 
<ng-template mat-tab-label>
    <mat-icon><img src ="./assets/images/eyeA.gif"  width="35px" height="35px" id="icone1" />
    </mat-icon>
    {{ 'Oeil Droite' | translate }} &nbsp; <i class="fa fa-angle-double-right" aria-hidden="true"></i> 
</ng-template>

<form  style="height: 600px;" (ngSubmit)="addAvisDroite(f.value)" #f=ngForm >
  <div class="field">
    <div class="gallery" >   
        <a data-fancybox="gallery" href={{image1Droitee}} *ngIf="image1Droitee">
            <img src={{image1Droitee}} width="230px" height="230px" *ngIf="image1Droitee"/>  </a>
            <a data-fancybox="gallery" href={{image2Droitee}} *ngIf="image2Droitee">
                <img src={{image2Droitee}} width="230px" height="230px" *ngIf="image2Droitee"/>  </a>                           
     <a data-fancybox="gallery" href={{image3Droitee}} *ngIf="image3Droitee">
          <img src={{image3Droitee}} width="230px" height="230px" *ngIf="image3Droitee" />  </a>
     <a data-fancybox="gallery" href={{image4Droitee}} *ngIf="image4Droitee">
          <img src={{image4Droitee}} width="230px" height="230px"  *ngIf="image4Droitee"/>  </a>
     
  </div>
  </div>  
  
      <div class="dropdown">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'Choisir le maladie' | translate }}  </mat-label>
         
          <select matNativeControl  *ngIf="maladies" ngModel  name="maladieDroite" id="maladieDroite" required #maladieDroite="ngModel">
            <option value="" disabled selected></option>
            <option *ngFor="let maladie of maladies" value="{{maladie.nom}}" change="spoiler(this)" >{{maladie.nom}}</option>
           
          </select> 
        </mat-form-field>
         </div> 
  <div id="contain1" *ngIf="SainTest == true ; else testSainDroite">
      <label id="maladie" *ngIf="AutoDetection.maladieDroite !== null ; else choix2"> {{ 'Maladie' | translate }}  : &nbsp;{{AutoDetection.maladieDroite}}</label>    
      <ng-template #choix2>
        <label id="maladieElse" > {{'Rien' | translate }} &nbsp;</label> 
       </ng-template>
    </div> 
    <ng-template #testSainDroite>
      <label id="maladieElse2" >Oeil Droite est intact &nbsp;</label> 
     </ng-template>
   
   <div class="dropdownNiv2">
    <mat-form-field appearance="fill">
     <mat-label>{{ 'Choisir le niveau' | translate }} </mat-label>
     <select matNativeControl  *ngIf="maladies" ngModel  name="graviteDroite" id="graviteDroite" required #graviteDroite="ngModel">
        <option value="" disabled selected></option>
        <option *ngFor="let niveau of niveaux" value="{{niveau.niv}}">{{niveau.niv}}</option>
       
     </select> 
   </mat-form-field>
</div>
   <div id="contain2">
      <label id="niveau" *ngIf="AutoDetection.graviteDroite !== 0 ; else choix2gravite"> {{ 'Niveau' | translate }} : &nbsp;{{AutoDetection.graviteDroite}}</label>
      <ng-template #choix2gravite>
        <label id="niveauElse" > {{ 'Rien' | translate }} &nbsp;</label> 
       </ng-template>
    </div> 
 
<div id="aviss">
<div class="md-form amber-textarea active-amber-textarea">
 
 <textarea id="form22" class="md-textarea form-control" cols="4"  placeholder="Ecrire  ici ton avis ...."
 ngModel  name="commentaireDroite" id="commentaireDroite" required #commentaireDroite="ngModel">

 </textarea>
</div>
</div>
      <div style="width: 100px;height: 100px;position: absolute;top: 436px;left:515px;">
        <button    *ngIf="boutonValider === 0 ; else avisAjouter" type="submit"  class="btn btn-primary" >{{ 'Valider' | translate }}</button> 
        <ng-template #avisAjouter>
          <button  type="button" class="btn btn-outline-primary"style="width: 300px; margin-left: -196px;">
            {{ 'Votre avis est bien ajouté' | translate }}</button> 
         </ng-template>
      </div>

       <div style="width: 100px;height: 100px;position: absolute;top: 436px;left:650px;">
        <button  class="btn btn-danger" routerLink="/demande_droite/{{idConsultation}}" class="btn btn-danger">{{ 'Quitter' | translate }}</button> 
     
      </div>
      </form> 
    </mat-tab>
    </mat-tab-group>
</div>
</div> 
  </div>
<div class="nav-container">
<div class="wrapper">
<br>
<nav>
<div class="img-nav">
<img src="./assets/images/navbar.png" >
</div>
<ul class="nav-items">
<div class="content">
<div id="admin"></div>
  <img src="./assets/images/menu 1.png" id="menu">
  <div id="menu23">
    <div id="arrow"></div>
    <a routerLink="/PageProfile">{{ 'Profil' | translate }}<i id="firstIcon" class="fa fa-user-md"></i></a>
    <a routerLink="/chart-Activity-Doctor">{{ 'Mon Activité' | translate }}<i id="secondIcon" class="fa fa-bar-chart-o"></i></a>
    <a ><div style="    width: 159px;
      height: 1px;
      position: fixed;
      top: 181px;
      left: 82px;
      background-color: #00000042;"></div></a>
      <a> 
        <span style="position: fixed; top: 185px; left: 47px;">{{ 'Language' | translate }}</span>
          <table>
         <tr>
             <td>
           Francais&nbsp;&nbsp; <input type="radio"  (change)="service.switchLanguage('fr')" >
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           English &nbsp;&nbsp;<input type="radio" (change)="service.switchLanguage('en')"></td></tr></table>
            
              </a>             
    </div>
</div>
<a routerLink="/PageProfile/{{id}}">
<img src={{imagePath}} class="img-carree">
<div class="pointConnexion"></div>
</a>
<a routerLink="/PageProfile/{{id}}"  id="nom">{{ 'Bienvenue' | translate }}
<span>{{user.nomPrenom}}</span></a>
<li>
    <div class="budgecard">
      <a  class="notifications"  routerLink="/accueil">
        <i class="fa fa-bell" aria-hidden="true"></i>  
        <span class="badge" *ngIf=" serviceAvis.lengthDemandePrincipale !== 0 ">{{serviceAvis.lengthDemandePrincipale}}</span> &nbsp;{{ 'Accueil' | translate }}
    </a>
    </div>
    </li>
    <img src="./assets/images/Line.svg" id="line1">

    <li>
        <a routerLink="/historique"  id="list"><i class="fa fa-history" aria-hidden="true" ></i> {{ 'Historique  des avis' | translate }}</a>
        </li>
    <li>
        <img src="./assets/images/Line.svg" id="line2">
        
        <a id="logout" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'Déconnexion' | translate }}</a>
    </li>
</ul>
</nav>
</div>
</div> 
<div style="position: absolute;
height: 545px;
width: 10px;
background-color: #dfe6ff;
top: 104px;
left: 1354px;"></div> 
<div  *ngIf ="demandeG === 0 || existenceAvisExpertGauche === 1" style="position: absolute;top: 133px;left: 157px;font-size: 14.5px;"> 
  <a  style="text-decoration: none;color: #adb5bd;">
    <i class="fa fa-angle-double-left fa-1x" aria-hidden="true"></i>
        &nbsp;{{ 'Oeil Gauche' | translate }}
</a> 
</div>
  

</body>
</html>
