<!DOCTYPE html>
<html lang="en">
<head> 
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

<title>Welcome</title>
</head>
<body>

<div class="wrapper1">
<div class="form-inner">
    <div class="form-container">
        
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab>
    <ng-template mat-tab-label>
        <mat-icon><img src ="./assets/images/eyeA.gif"  width="35px" height="35px" id="icone1" />
        </mat-icon>
        <i class="fa fa-angle-double-left fa-1x" aria-hidden="true"></i>
        &nbsp; {{ 'Oeil Gauche' | translate }}
    </ng-template>
    <form  (ngSubmit)="addAvisGauche(f.value)" #f=ngForm style="height: 600px;">
        <div class="field">
            <div class="gallery" >   
                <a data-fancybox="gallery" href={{image1Gauchee}} *ngIf="image1Gauchee">
                    <img src={{image1Gauchee}} width="230px" height="230px" *ngIf="image1Gauchee"/>  </a>
                    <a data-fancybox="gallery" href={{image2Gauchee}} *ngIf="image2Gauchee">
                        <img src={{image2Gauchee}} width="230px" height="230px" *ngIf="image2Gauchee"/>  </a>                           
             <a data-fancybox="gallery" href={{image3Gauchee}} *ngIf="image3Gauchee">
                  <img src={{image3Gauchee}} width="230px" height="230px" *ngIf="image3Gauchee" />  </a>
             <a data-fancybox="gallery" href={{image4Gauchee}} *ngIf="image4Gauchee">
                  <img src={{image4Gauchee}} width="230px" height="230px"  *ngIf="image4Gauchee"/>  </a>
             
          </div>
          </div> 
        
        <div class="dropdown">
            <mat-form-field appearance="fill">
            <mat-label>  {{ 'Choisir le maladie' | translate }}</mat-label>
            <select matNativeControl  *ngIf="maladies" ngModel  name="maladieGauche" id="maladieGauche" required #maladieGauche="ngModel">
                <option value="" disabled selected></option>
                <option *ngFor="let maladie of maladies" value="{{maladie.nom}}">{{maladie.nom}}</option>
              </select> 
            </mat-form-field>
            </div> 
    <div id="contain1" *ngIf="SainTest == true ; else testSainGauche">
        <label id="maladie"*ngIf="AutoDetection.maladieGauche !== null ; else choix2">{{ 'Maladie' | translate }}  : &nbsp;{{AutoDetection.maladieGauche}}</label>    
        <ng-template #choix2>
            <label id="maladieElse" > rien &nbsp;</label> 
           </ng-template>
    </div> 
    <ng-template #testSainGauche>
        <label id="maladieElse2" >Oeil Droite est intact &nbsp;</label> 
       </ng-template>
        <div class="dropdownNiv2">
            <mat-form-field appearance="fill">
                <mat-label> {{ 'Choisir le niveau ' | translate }}</mat-label>
                <select matNativeControl  *ngIf="maladies" ngModel  name="graviteGauche" id="graviteGauche" required #graviteGauche="ngModel">
                   <option value="" disabled selected></option>
                   <option *ngFor="let niveau of niveaux" value="{{niveau.niv}}">{{niveau.niv}}</option>
                  
                </select> 
              </mat-form-field>
            </div>
    
    
        <div id="contain2">
        <label id="niveau" *ngIf="AutoDetection.graviteGauche !== 0; else choix2gravite">{{ 'Niveau' | translate }} : &nbsp;{{AutoDetection.graviteGauche}}</label>
        <ng-template #choix2gravite>
            <label id="niveauElse" > {{ 'Rien' | translate }} &nbsp;</label> 
           </ng-template>   
    </div>
    
    
    <div id="aviss">
    <div class="md-form amber-textarea active-amber-textarea">
    
        <textarea id="form22" class="md-textarea form-control" cols="4"  placeholder="Ecrire  ici ton avis ...."
        ngModel  name="commentaireGauche" id="commentaireGauche" required #commentaireGauche="ngModel">
       
        </textarea>
    </div>
    </div>
    <div style="width: 100px;height: 100px;position: absolute;top: 436px;left:515px;">
        <button  *ngIf="boutonValider === 0 ; else avisAjouter" type="submit"  class="btn btn-primary"  >{{ 'Valider' | translate }}</button> 
        <ng-template #avisAjouter>
          <button  type="button" class="btn btn-outline-primary"style="width: 300px; margin-left: -196px;">
            {{ ' Votre avis est bien ajouté' | translate }}</button> 
        </ng-template>
    </div>
    <div style="width: 100px;height: 100px;position: absolute;top: 436px;left:650px;">
    <button   class="btn btn-danger" routerLink="/demande_gauche/{{idConsultation}}">{{ 'Quitter' | translate }}</button> 
    </div>  
    <!--div id="SainBody">
        <div class="form-check form-check-inline">
          <input class="form-check-input" ngModel  name="sainGauche" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">sain</label>
        </div></div-->  
        </form> 
</mat-tab>
<mat-tab [disabled]='true'></mat-tab>
<mat-tab  [disabled]='true' ></mat-tab>  

<mat-tab *ngIf="demandeD !==0 && (existenceAvisExpertDroite === 0 || existenceAvisExpertDroite === 2) " > 
<ng-template mat-tab-label>
<mat-icon><img src ="./assets/images/eyeA.gif"  width="35px" height="35px" id="icone1" />
</mat-icon>
<a routerLink="/avis_droite/{{idConsultation}}" style="text-decoration: none;color: black;">
    {{ 'Oeil Droite' | translate }} &nbsp; <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a>
</ng-template>
</mat-tab>
</mat-tab-group>
</div>
</div> 
</div>
<div class="nav-container">
<div class="wrapper">
<br>
<nav>
<div class="img-nav">
<img src="./assets/images/navbar.png" >
</div>
<ul class="nav-items">
<div class="content">
<div id="admin"></div>
    <img src="./assets/images/menu 1.png" id="menu">
    <div id="menu23">
        <div id="arrow"></div>
        <a routerLink="/PageProfile">{{ 'Profil' | translate }}<i id="firstIcon" class="fa fa-user-md"></i></a>
        <a routerLink="/chart-Activity-Doctor">{{ 'Mon Activité' | translate }}<i id="secondIcon" class="fa fa-bar-chart-o"></i></a>
        <a ><div style="    width: 159px;
          height: 1px;
          position: fixed;
          top: 181px;
          left: 82px;
          background-color: #00000042;"></div></a>
          <a> 
            <span style="position: fixed; top: 185px; left: 47px;">{{ 'Language' | translate }}</span>
              <table>
             <tr>
                 <td>
               Francais&nbsp;&nbsp; <input type="radio"  (change)="service.switchLanguage('fr')" >
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               English &nbsp;&nbsp;<input type="radio" (change)="service.switchLanguage('en')"></td></tr></table>
                 <!--td *ngFor="let item of lang">
                  &nbsp;&nbsp;  <input type="radio" [(ngModel)]="language" value="{{item.name}}" name="language"  (change)="service.switchLanguage(item.id)"
                  aria-checked="item.name===Francais" >
                 <i> &nbsp;&nbsp;{{item.name}}</i>
             </td></tr>
            </table-->
    
              <!--div class="button-con">
                  <label id='fr' for='cb1'>
                   Fr&nbsp;
                  </label>
                  <input class='toggle' id='cb1' type='checkbox' (change)="onChange( $event.target.checked)" >
                  <label class='toggle-button' for='cb1'></label>
                  <label id='en' for='cb1'>
                  En
                  </label>
                  </div-->  
                  </a>             
        </div>
</div>
<a routerLink="/PageProfile/{{id}}">
<img src={{imagePath}} class="img-carree">
<div class="pointConnexion"></div>
</a>
<a routerLink="/PageProfile/{{id}}"  id="nom">  {{ 'Bienvenue' | translate }}
<span>{{user.nomPrenom}}</span></a>
<li>
    <div class="budgecard">
        <a  class="notifications"  routerLink="/accueil">
            <i class="fa fa-bell" aria-hidden="true"></i>  
            <span class="badge" *ngIf=" serviceAvis.lengthDemandePrincipale !== 0 ">{{serviceAvis.lengthDemandePrincipale}}</span> &nbsp; {{ 'Accueil' | translate }}
        </a>
    </div>
</li>
<img src="./assets/images/Line.svg" id="line1">

<li>
    <a routerLink="/historique"  id="list"><i class="fa fa-history" aria-hidden="true" ></i> {{ 'Historique  des avis' | translate }}</a>
    </li>
<li>
    <img src="./assets/images/Line.svg" id="line2">
    
    <a id="logout" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'Déconnexion' | translate }}</a>
    <!--<img src="./assets/images/logout.png" id="iconeLogout">-->
</li>
</ul>

</nav>
</div>
</div> 
<div style="position: absolute;
height: 545px;
width: 10px;
background-color: #dfe6ff;
top: 104px;
left: 1354px;"></div> 
<div *ngIf="demandeD ===0 || existenceAvisExpertDroite == 1" style="position: absolute;top: 135px;left: 1075px;font-size: 14.5px;"> 

    <a style="text-decoration: none;color: #adb5bd;" >
        {{ 'Oeil Droite' | translate }} &nbsp; <i class="fa fa-angle-double-right" aria-hidden="true"></i> 
    </a>
</div>

</body>
</html>

  