<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Welcome </title>
    <!--<link rel="stylesheet" href="home-page.component.css">-->
    
</head>
<body>
    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                   <!--img class ="logo-img" src="./assets/images/logoSociete.png"  height="50px" style="margin-left: -240px;"-->
                </div>
<ul class="nav-items">
    <li>
        <a  routerLink="/Login-Admin" style="margin-left:-400px;">Admin</a>
    </li>
    
    <li>
        <a  routerLink="/ophtalmologue" style="position:absolute;left:594px;">Ophtalmologue Expert</a>
    </li>
    <li>
        <a  routerLink="/installation" style="position:absolute;left:890px;">A propos de nous</a>
    </li>
</ul>
            </nav>
        </div>
    </div>
    <div class="header-container">
        <div class="wrapper">
            <header>
                <div class="hero-content">
                    <h1>RETINA DIAGNOSIS</h1>
                    <img src="./assets/images/Line1.svg" id="bar1">
                    <img src="./assets/images/Line1.svg" id="bar2">
                    <p>
                        <br>
                        RETINA DIAGNOSIS aide les médecins non ophtalmologistes et les <br>
                        pharmaciens à détecter les pathologies rétiniennes, via un système <br>
                        mobile dont la spécificité est d'embarquer l'IA dans un smartphone <span id="dots">...</span><span id="more"><br>
                        Système Mobile Intelligent pour  le Dépistage<br>
                        des Pathologies Rétiniennes (SIMAD-PR).<br> </span><br><br>
                     <a href="#" (click)="myFunction()" id="myBtn">Lire la suite </a> </p>
                </div>
            </header>
        </div>
    </div>
</body>
</html>